In [1]:
import pandas as pd
import numpy as np

In [2]:
#a dataframe is a collection of series with the same indexing

#dataframes can be made by setting columns 
dataframe_c = pd.DataFrame({'scores': [5, 6, 8], 'possible': [5, 7, 9]})
print(dataframe_c)

#dataframs can be made by combining lists
dataframe_l = pd.DataFrame(
[   [5, 5],
    [6, 7],
    [8, 9],],
    columns= ['scores', 'possible']
)

print(dataframe_l)

#.info() gives all info, .shape gives rows, columns, .axes gives row and column index, .size gives rows * columns
print(dataframe_c.info())
print(dataframe_c.shape)
print(dataframe_c.axes)
print(dataframe_c.size)

#use .rename() to change the name of columns
dataframe_c.rename(columns = {'scores' : 'real_scroes', 'possible' : 'max'}, inplace=1)

print(dataframe_c)

   scores  possible
0       5         5
1       6         7
2       8         9
   scores  possible
0       5         5
1       6         7
2       8         9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   scores    3 non-null      int64
 1   possible  3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes
None
(3, 2)
[RangeIndex(start=0, stop=3, step=1), Index(['scores', 'possible'], dtype='object')]
6
   real_scroes  max
0            5    5
1            6    7
2            8    9

In [3]:
#dataframes are very imortant when working with csv files

original_dataframe = pd.DataFrame({
    'sin': np.sin(np.linspace(-np.pi, np.pi, 100)),
    'tan': np.tan(np.linspace(-np.pi, np.pi, 100)),
    'cos' : np.cos(np.linspace(-np.pi, np.pi, 100))
    }
)

#to paste into a csv
original_dataframe.to_csv('trig.csv')

#remove index
original_dataframe.to_csv('trig.csv', index=False)

#read from a csv
read_dataframe = pd.read_csv('trig.csv')

print(read_dataframe)

             sin           tan       cos
0  -1.224647e-16  1.224647e-16 -1.000000
1  -6.342392e-02  6.355187e-02 -0.997987
2  -1.265925e-01  1.276192e-01 -0.991955
3  -1.892512e-01  1.927342e-01 -0.981929
4  -2.511480e-01  2.594642e-01 -0.967949
..           ...           ...       ...
95  2.511480e-01 -2.594642e-01 -0.967949
96  1.892512e-01 -1.927342e-01 -0.981929
97  1.265925e-01 -1.276192e-01 -0.991955
98  6.342392e-02 -6.355187e-02 -0.997987
99  1.224647e-16 -1.224647e-16 -1.000000

[100 rows x 3 columns]

In [4]:
#access dataframe columns by . notation or ['name']

print(original_dataframe.sin)
print(original_dataframe['sin'])

#to get more than one just do
print(original_dataframe[['sin', 'tan']])

#for rows just use the operations that work for series
#getting the 50th sin entry
print(original_dataframe['sin'].iloc[49])

#also just works direcly
print(original_dataframe.iloc[49])

#to get by index just use .loc
print(original_dataframe.loc[[1, 2, 3], ['sin', 'tan']])

0    -1.224647e-16
1    -6.342392e-02
2    -1.265925e-01
3    -1.892512e-01
4    -2.511480e-01
          ...
95    2.511480e-01
96    1.892512e-01
97    1.265925e-01
98    6.342392e-02
99    1.224647e-16
Name: sin, Length: 100, dtype: float64
0    -1.224647e-16
1    -6.342392e-02
2    -1.265925e-01
3    -1.892512e-01
4    -2.511480e-01
          ...
95    2.511480e-01
96    1.892512e-01
97    1.265925e-01
98    6.342392e-02
99    1.224647e-16
Name: sin, Length: 100, dtype: float64
             sin           tan
0  -1.224647e-16  1.224647e-16
1  -6.342392e-02  6.355187e-02
2  -1.265925e-01  1.276192e-01
3  -1.892512e-01  1.927342e-01
4  -2.511480e-01  2.594642e-01
..           ...           ...
95  2.511480e-01 -2.594642e-01
96  1.892512e-01 -1.927342e-01
97  1.265925e-01 -1.276192e-01
98  6.342392e-02 -6.355187e-02
99  1.224647e-16 -1.224647e-16

[100 rows x 2 columns]
-0.03172793349806753
sin   -0.031728
tan   -0.031744
cos    0.999497
Name: 49, dtype: float64
        sin       tan
1 -0.063424  0.063552
2 -0.126592  0.127619
3 -0.189251  0.192734

In [5]:
#insert a new column into a dataframe
df = pd.DataFrame(
[   [5, 5],
    [6, 7],
    [8, 9],],
    columns= ['a', 'b']
)
df['c'] = [1, 2, 3]
df['d'] = 5
df['e'] = df.a + df.b

#works with boolean operations
df.loc[df.a == 5, 'f'] = 4

print(df)

#to delete columns 
df.drop(columns=['a', 'f'], inplace=True)

print(df)

   a  b  c  d   e    f
0  5  5  1  5  10  4.0
1  6  7  2  5  13  NaN
2  8  9  3  5  17  NaN
   b  c  d   e
0  5  1  5  10
1  7  2  5  13
2  9  3  5  17

In [6]:
#.apply(), axis=0 works on columns and axis=1 works on rows

df = pd.DataFrame(
[   [5, 5],
    [6, 7],
    [8, 9],],
    columns= ['a', 'b']
)

print(df.apply(func=np.sum, axis=0))
print(df.apply(func=np.sum, axis=1))

a    19
b    21
dtype: int64
0    10
1    13
2    17
dtype: int64

In [7]:
#some operations return a pointer, other operations make a copy

#use the .copy method to make sure that the returned series is a copy
df_2 = df.copy()

#to achive the opposite effect use Inplace = true)

In [8]:
frame_1 = pd.DataFrame({
    'garage': [1, 2, 3, 4],
    'car': ['Tacoma', 'Porche', 'Merc', 'BMW']
})

frame_2 = pd.DataFrame({
    'garage': [3, 4, 5],
    'completion%': [85, 92, 78]
})


#inner join matching rows only
inner = pd.merge(left = frame_1, right = frame_2, on = 'garage', how='inner')
print(inner)

#left join keeps all rows from left, matches from right when possible.
left = pd.merge(left = frame_1, right = frame_2, on= 'garage', how='left')
print(left)

#right join keeps all rows from right, matches from left when possible
right = pd.merge(left = frame_1, right = frame_2, on= 'garage', how='right')
print(right)

#outer join keeps everything from both sides
outer = pd.merge(left = frame_1, right = frame_2, on= 'garage', how='outer')
print(outer)

#cross join all combinations
cross = pd.merge(left = frame_1, right = frame_2, how='cross')
print(cross)
print(cross.shape)

#index-based alignment
index = pd.merge(left = frame_1, right = frame_2, left_index=True, right_index=True)
print(index)

#for diffrent names specify, left_on = '' right_on = ''

#If a key appears n times on the left and m times on the right, the merge produces n Ã— m rows for that key

   garage   car  completion%
0       3  Merc           85
1       4   BMW           92
   garage     car  completion%
0       1  Tacoma          NaN
1       2  Porche          NaN
2       3    Merc         85.0
3       4     BMW         92.0
   garage   car  completion%
0       3  Merc           85
1       4   BMW           92
2       5   NaN           78
   garage     car  completion%
0       1  Tacoma          NaN
1       2  Porche          NaN
2       3    Merc         85.0
3       4     BMW         92.0
4       5     NaN         78.0
    garage_x     car  garage_y  completion%
0          1  Tacoma         3           85
1          1  Tacoma         4           92
2          1  Tacoma         5           78
3          2  Porche         3           85
4          2  Porche         4           92
5          2  Porche         5           78
6          3    Merc         3           85
7          3    Merc         4           92
8          3    Merc         5           78
9          4     BMW         3           85
10         4     BMW         4           92
11         4     BMW         5           78
(12, 4)
   garage_x     car  garage_y  completion%
0         1  Tacoma         3           85
1         2  Porche         4           92
2         3    Merc         5           78

In [9]:
#DataFrame aggregation reduces values of groups
df = pd.DataFrame(
[   [5, 5],
    [6, 7],
    [8, 9],],
    columns= ['a', 'b']
)

#agrregate without grouping
print(df['a'].sum())
print(df['a'].mean())

#group one column
print(df.groupby('a').sum())

#use .groupby('').agg(result=('target', function)) to specify the groups and functions

#Group by one column, multiple aggregations
print(df.groupby('a').agg(['sum', 'mean']))

19
6.333333333333333
   b
a
5  5
6  7
8  9
    b
  sum mean
a
5   5  5.0
6   7  7.0
8   9  9.0